<footer class="footer">

  <div class="footer-grid">

    <div class="col">
      <h4>Contact</h4>

      <p class="company">ftrib</p>

      <div class="item">
        <mat-icon>location_on</mat-icon>
        <span>
          1658 Rosewood Lane<br />
          New York city NY
        </span>
      </div>

      <div class="item green">
        <mat-icon>call</mat-icon>
        <span>212 929 9953</span>
      </div>

      <div class="item green">
        <mat-icon>email</mat-icon>
        <span>admin&#64;ftribe.com</span>
      </div>
    </div>

    <!-- Cooperation -->
    <div class="col">
      <h4>Cooperation - Association</h4>
      <p>Operation Regulation of EC-Exchange</p>
      <p>Return Policy</p>
      <p>Privacy Policy</p>
      <p>Selling With ftribe</p>
    </div>

  
    <div class="col">
      <h4>Customer Support</h4>
      <p>Hotline Customer Service</p>
      <p class="green">212 929 9953</p>
      <p>Frequently asked Questions</p>
      <p>Submit Support Request</p>
      <p>Ordering Guide</p>
      <p>Shipping Methods</p>
    </div>


    <div class="col">
      <p>Installment Purchase Guide</p>
      <p>Import Policy</p>

      <p class="label">Customer Support</p>
      <p class="green">customerftribe.com</p>

      <p class="label">Security Error Report:</p>
      <p class="green">adminftribe.com</p>
    </div>

  </div>

  <div class="footer-bottom">
    <span>Introduce</span>
    <span>Partner Incentives</span>
    <span>Promotion</span>
    <span>Contact</span>
    <span>Frequently asked Questions</span>
  </div>

</footer>
