<div class="page-content">

 

    <div class="container">
      <mat-card
        *ngFor="let item of Cartlist"
        class="product-card"
      >

        <mat-card-header class="card-header">
          <mat-card-title class="product-name">
            {{ item.name }}
          </mat-card-title>
          <mat-card-subtitle class="price">
            ₹{{ item.price }}
          </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content class="card-content">
          <p>{{ item.description }}</p>
        </mat-card-content>

      

      </mat-card>
    </div>

  </div>



