.nav{
  display: flex;
  justify-content: center;   
  align-items: center;
  padding: 10px;
  position: relative;        
  background: #f2f2f2;
}

.btn{
  position: absolute;
  right: 15px;             
  top: 50%;
  transform: translateY(-50%);
   display: flex;
  align-items: center;
  gap: 4px;
}

.title{
  margin: 0;
}
